# Scripts that run on SystemRescue (Linux) must have LF endings
auditor/autorun eol=lf
auditor/*.py eol=lf
# Scripts that run on Windows are safest with CRLF
restorer/Dell/Scripts/*.cmd eol=crlf
restorer/*.ps1 eol=crlf
restorer/Dell/Scripts/*.ps1 eol=crlf
